#mission {
background: #FFDBA1 url(xtra/wings-screenshots-2.png) no-repeat 100% 50%;
background-size: 190px 172px;
border: solid #FFB643;
color: #4E3000;
font-size: 1.1em;
padding-right: 200px;
}

#mission .box {
	margin-bottom:5em;
}

ul#missionlinks {
list-style-type: none;
margin: 0px;
padding: 0px;
padding-top:10px;
width: 100%;
}

ul#missionlinks li {
background: url(xtra/arrow.png) no-repeat 3px 50%;
margin: 0px;
display: block;
float: left;
width: 40%;
}

ul#missionlinks li a {
padding: 0px 0px 0px 10px;
}

#mission a {
color: #B63300;
font-weight: bold;
position: relative;
text-decoration: none;
}

dd.people {
	height:200px;background:#ddd;padding:5px;margin:2px;vertical-align:middle;text-align:center;border:1px solid #999;float:left
}
dd.people img {
	border:1px solid #999;
}

h3 {
	clear:both;
}
